In [1]:
import pandas as pd
import glob
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df_pl = pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/t20_pl_g.csv')

In [2]:
df_pl = df_pl.sort_values(by=['start_date','match_id','innings','ball']).reset_index(drop=True)

In [3]:
df_pl['phase'] = np.where(df_pl['ball']<7, 'pp', 
                        np.where(df_pl['ball']>=15, 'death',
                            'middle'))

In [4]:
player_list = pd.read_excel('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/player_list.xlsx',
                           sheet_name='season_03')

player_list.iloc[130:135]

players_list = player_list['Func_Name'].dropna().tolist()

#players_list = players_list.remove('nan')

print(type(players_list))

len(players_list)

<class 'list'>

247

In [5]:
df_h = df_pl[(df_pl.striker.isin(players_list))&(df_pl.bowler.isin(players_list))]

df_h.shape

(100234, 61)

In [6]:
df_h['runs_conceeded'] = df_h['runs_off_bat']+df_h['wides']+df_h['noballs']

/var/folders/68/nlclwstn1zd28pll4j60q7zw0000gn/T/ipykernel_9975/3799187946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h['runs_conceeded'] = df_h['runs_off_bat']+df_h['wides']+df_h['noballs']

In [7]:
# head-to-head statistics

In [64]:
h2h_stats = df_h.groupby(['striker','bowler']).agg(
    
    runs_scored = ('runs_off_bat','sum'),
    runs_conceeded = ('runs_conceeded','sum'),
     
    balls_faced = ('is_faced_by_batter' ,'sum'),
    balls_bowled = ('islegal','sum'),
    
    outs = ('isBowlerWicket','sum')
    
).reset_index()


h2h_stats['bat_avg'] = h2h_stats['runs_scored']/h2h_stats['outs']
h2h_stats['bowl_sr'] = h2h_stats['balls_bowled']/h2h_stats['outs']
h2h_stats['bat_sr'] = 100*h2h_stats['runs_scored']/h2h_stats['balls_faced']
h2h_stats['bowl_eco'] = 6*h2h_stats['runs_conceeded']/h2h_stats['balls_bowled']




#h2h_stats.sample(10)

In [65]:
h2h_stats['bat_avg'] = h2h_stats.apply(
    lambda row: row['balls_faced']*1.5 if np.isinf(row['bat_avg']) else row['bat_avg'], axis=1
)

h2h_stats['bowl_sr'] = h2h_stats.apply(
    lambda row: row['balls_bowled']*1.5 if np.isinf(row['bowl_sr']) else row['bowl_sr'], axis=1
)

h2h_stats['bowl_eco'] = h2h_stats.apply(
    lambda row: 36 if np.isinf(row['bowl_eco']) else row['bowl_eco'], axis=1
)

bat_fig = 3*140+0.5*35
bowl_fig = 27

h2h_stats['bat'] = (3*h2h_stats['bat_sr']+0.5*h2h_stats['bat_avg'])/bat_fig
h2h_stats['bat'] = np.sqrt(h2h_stats['bat'])
h2h_stats['bowl'] = 2-h2h_stats['bat']
#h2h_stats['bowl'] = bowl_fig/(h2h_stats['bowl_sr']+h2h_stats['bowl_eco'])

h2h_stats['bat'] = np.where(h2h_stats['balls_faced']<20, 0, h2h_stats['bat'])
h2h_stats['bowl'] = np.where(h2h_stats['balls_bowled']<20, 0, h2h_stats['bowl'])

#h2h_stats['bat'] = np.sqrt(h2h_stats['bat'])
#h2h_stats['bowl'] = np.sqrt(h2h_stats['bowl'])

#h2h_stats['bat'] = h2h_stats['bat']/h2h_stats['bat'].mean()
#h2h_stats['bowl'] = h2h_stats['bowl']/h2h_stats['bowl'].mean()

In [66]:
h2h_stats[h2h_stats.balls_faced>=20].bowl.describe()

count    1342.000000
mean        1.000447
std         0.172815
min         0.000000
25%         0.907788
50%         1.008799
75%         1.102592
max         1.538811
Name: bowl, dtype: float64

In [67]:
h2h_stats['bat'] = np.where(h2h_stats['bowl']==0, 2, h2h_stats['bat'])
h2h_stats['bowl'] = np.where(h2h_stats['bat']==0, 2, h2h_stats['bowl'])

h2h_stats['a'] = 2/(h2h_stats['bat']+h2h_stats['bowl'])

h2h_stats['bat_a'] = h2h_stats['bat']*h2h_stats['a']
h2h_stats['bowl_a'] = h2h_stats['bowl']*h2h_stats['a']

h2h_stats['h2h_factor_bat'] = np.where(h2h_stats['balls_faced']<20, 0, h2h_stats['bat_a'])
h2h_stats['h2h_factor_bowl'] = np.where(h2h_stats['balls_bowled']<20, 0, h2h_stats['bowl_a'])


#h2h_stats['h2h_factor_bat'] =

h2h_stats[h2h_stats.striker=='TM Head'].sort_values(by='runs_scored', ascending=False).round(2)

In [68]:
h2h_stats_trimmed = h2h_stats[(h2h_stats.balls_bowled>=20)&(h2h_stats.balls_faced>=20)]\
                            [['striker','bowler','runs_scored','balls_bowled',
                          'outs','h2h_factor_bat','h2h_factor_bowl']]

h2h_stats_trimmed.shape

(1329, 7)

h2h_stats_trimmed = pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/h2h_stats.csv'
                           )

In [69]:
h2h_stats_trimmed[h2h_stats_trimmed.outs==0].sort_values(by='h2h_factor_bat').tail(10).round(3)

,striker,bowler,runs_scored,balls_bowled,outs,h2h_factor_bat,h2h_factor_bowl
7430,SA Yadav,LH Ferguson,80,36,0,1.259,0.741
3452,KA Pollard,SN Thakur,52,23,0,1.261,0.739
2966,JC Buttler,Yash Dayal,92,40,0,1.268,0.732
7750,SP Narine,MP Stoinis,53,23,0,1.273,0.727
251,AD Russell,MA Starc,55,23,0,1.296,0.704
5911,Q de Kock,PJ Cummins,57,23,0,1.319,0.681
5615,PJ Cummins,SM Curran,53,21,0,1.329,0.671
8712,TM Head,HH Pandya,63,25,0,1.331,0.669
4793,MS Dhoni,JD Unadkat,61,24,0,1.336,0.664
3496,KD Karthik,JD Unadkat,55,20,0,1.386,0.614

In [71]:
h2h_stats_trimmed[h2h_stats_trimmed.striker=='V Kohli'].sort_values(by='h2h_factor_bat').round(3)

,striker,bowler,runs_scored,balls_bowled,outs,h2h_factor_bat,h2h_factor_bowl
8991,V Kohli,Ravi Bishnoi,36,41,1,0.802,1.198
8940,V Kohli,JD Unadkat,34,36,1,0.829,1.171
8909,V Kohli,A Nortje,41,42,2,0.832,1.168
8911,V Kohli,AD Russell,29,30,1,0.834,1.166
8913,V Kohli,AR Patel,51,51,1,0.863,1.137
8943,V Kohli,JR Hazlewood,33,31,1,0.876,1.124
8984,V Kohli,R Ashwin,44,42,1,0.877,1.123
8947,V Kohli,KH Pandya,71,76,0,0.878,1.122
8996,V Kohli,SP Narine,82,77,2,0.882,1.118
8997,V Kohli,Sandeep Sharma,43,38,2,0.895,1.105
8955,V Kohli,M Ashwin,33,30,0,0.898,1.102
8936,V Kohli,Harpreet Brar,62,55,2,0.899,1.101
8986,V Kohli,R Sai Kishore,27,24,0,0.901,1.099
8945,V Kohli,K Rabada,64,55,4,0.903,1.097
9005,V Kohli,TA Boult,46,41,1,0.907,1.093
8989,V Kohli,RA Jadeja,53,49,0,0.909,1.091
9010,V Kohli,YS Chahal,28,24,1,0.912,1.088
8926,V Kohli,CV Varun,55,48,1,0.921,1.079
8928,V Kohli,DL Chahar,45,37,1,0.929,1.071
8988,V Kohli,R Tewatia,38,32,0,0.932,1.068
8910,V Kohli,A Zampa,69,54,2,0.957,1.043
8969,V Kohli,Mohammad Nabi,27,21,0,0.958,1.042
8982,V Kohli,PP Chawla,32,24,0,0.977,1.023
8937,V Kohli,Harshit Rana,33,24,1,0.990,1.010
8941,V Kohli,JJ Bumrah,41,29,4,0.991,1.009
8990,V Kohli,Rashid Khan,96,71,2,0.991,1.009
8970,V Kohli,Mohammed Shami,88,62,4,0.999,1.001
8939,V Kohli,JC Archer,85,65,0,1.004,0.996
8951,V Kohli,Kuldeep Yadav,49,35,1,1.008,0.992
8980,V Kohli,Noor Ahmad,58,40,1,1.030,0.970
8994,V Kohli,SM Curran,112,76,2,1.030,0.970
8975,V Kohli,Mustafizur Rahman,33,22,1,1.033,0.967
8992,V Kohli,S Gopal,44,29,1,1.044,0.956
8952,V Kohli,LH Ferguson,58,38,0,1.054,0.946
8938,V Kohli,I Sharma,50,32,1,1.062,0.938
8958,V Kohli,M Prasidh Krishna,56,34,3,1.073,0.927
8956,V Kohli,M Jansen,42,24,2,1.084,0.916
8925,V Kohli,CJ Jordan,72,45,1,1.086,0.914
8921,V Kohli,B Kumar,70,42,2,1.088,0.912
8953,V Kohli,LS Livingstone,37,22,0,1.091,0.909
8948,V Kohli,KK Ahmed,34,20,1,1.098,0.902
8995,V Kohli,SN Thakur,44,25,0,1.098,0.902
8919,V Kohli,Avesh Khan,70,41,2,1.100,0.900
8972,V Kohli,Mujeeb Ur Rahman,38,22,0,1.105,0.895
9004,V Kohli,T Natarajan,54,30,1,1.138,0.862
8935,V Kohli,HV Patel,51,28,1,1.143,0.857
9011,V Kohli,Yash Dayal,48,26,0,1.145,0.855
8942,V Kohli,JO Holder,65,34,2,1.145,0.855
8981,V Kohli,PJ Cummins,41,22,0,1.147,0.853
8961,V Kohli,MA Starc,41,22,0,1.147,0.853
8918,V Kohli,Arshdeep Singh,79,41,1,1.188,0.812

In [34]:
h2h_stats_trimmed.to_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/h2h_stats.csv',
                           index=None)