In [19]:
import pandas as pd
import glob
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [20]:
inn_1 = pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/inn_1.csv')
inn_2 = pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/inn_2.csv')
#inn_1_i = pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/inn_1_i.csv')
#inn_2_i = pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/inn_2_i.csv')

/Users/roumyadas/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
columns = ['striker','non_striker','bowler']

In [26]:
player_list_S03 = pd.read_excel('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/player_list.xlsx',
                           sheet_name='season_03')

mod_list = player_list_S03['Func_Name'].unique()

inn_1_mod = inn_1[inn_1.striker.isin(mod_list)]
inn_2_mod = inn_2[inn_2.striker.isin(mod_list)]

In [27]:
player_list = []
dfs = [inn_1_mod, inn_2_mod]

for df in dfs:
    for col in columns:
        ls = df[col].unique().tolist()
        player_list.append(ls)
    

players_list = list(set(element for sublist in player_list for element in sublist))

len(players_list)

2431

In [6]:
player_list = pd.DataFrame()

player_list['Player'] = pd.Series(players_list)

In [7]:
player_list.to_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/player_list.csv', index=None)

inn_1[inn_1.batting_team.str.contains('engaluru')].tail(50)

## getting the subsets

In [8]:
player_list = pd.read_excel('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/player_list.xlsx',
                           sheet_name='season_03')

In [9]:
player_list.iloc[130:135]

,Set,Name,Country,Specialism,Procedure,Indian_FL,Overseas_FL,Price,Team_S03,Unnamed: 9,Func_Name,equality_indicator,Spin/Pace,played
130,R,Tanush Kotian,India,ALL-ROUNDER,NaN,1,0,0.60,SRH,NaN,Tanush Kotian,1.0,Spin,NaN
131,R,Shams Mulani,India,ALL-ROUNDER,NaN,1,0,0.40,MI,NaN,SZ Mulani,0.0,Spin,NaN
132,R,Urvil Patel,India,WICKETKEEPER,NaN,1,0,3.00,DC,NaN,Urvil Patel,1.0,0,NaN
133,R,Ishan Porel,India,BOWLER,NaN,1,0,0.40,SRH,NaN,IC Porel,0.0,Pace,NaN
134,R,Sikandar Raza,Zimbabwe,ALL-ROUNDER,NaN,0,1,0.75,DC,NaN,Sikandar Raza,1.0,Spin,NaN

In [10]:
players_list = player_list['Func_Name'].dropna().tolist()

#players_list = players_list.remove('nan')

print(type(players_list))

len(players_list)

<class 'list'>

247

In [11]:
inn_1.shape, inn_2.shape
#, inn_1_i.shape, inn_2_i.shape

((558081, 60), (498520, 60))

In [12]:
dfs = [inn_1, inn_2]

df_sub = pd.DataFrame()

for df in dfs:
    
    
    cond_1 = df.striker.isin(players_list)
    cond_2 = df.non_striker.isin(players_list)
    cond_3 = df.bowler.isin(players_list)
    
    fd = df[(cond_1)|(cond_2)|(cond_3)]
    
    df_sub = df_sub.append(fd)
    
    print(fd.shape)

(192539, 60)
(174644, 60)

In [13]:
df_sub.shape

(367183, 60)

In [14]:
df_sub.to_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/t20_pl.csv', index=None)

In [15]:
ground_map = {'M Chinnaswamy Stadium, Bangalore':'RCB',
              'M.Chinnaswamy Stadium':'RCB',
              'M Chinnaswamy Stadium, Bengaluru':'RCB',
              
              'MA Chidambaram Stadium, Chepauk':'CSK',
              'MA Chidambaram Stadium, Chepauk, Chennai':'CSK',
              'MA Chidambaram Stadium':'CSK',
              
              'Arun Jaitley Stadium':'DC',
              'Arun Jaitley Stadium, Delhi':'DC',
              
              'Wankhede Stadium, Mumbai':'MI',
              'Wankhede Stadium':'MI',
              
              
              'Rajiv Gandhi International Stadium, Uppal, Hyderabad':'SRH',
              'Rajiv Gandhi International Stadium, Uppal':'SRH',
              'Rajiv Gandhi International Stadium':'SRH',
              
              'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow':'LSG',
              'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium':'LSG',
              
              'Eden Gardens, Kolkata':'KKR',
              'Eden Gardens':'KKR',
              
              'Narendra Modi Stadium, Ahmedabad':'GT',
              'Narendra Modi Stadium':'GT',
              
              'Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur':'PBKS',
              
              'Sawai Mansingh Stadium, Jaipur':'RR',
              'Sawai Mansingh Stadium':'RR'
             
             }

In [16]:
#df_sub= pd.read_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/t20_pl.csv')
df_sub['venue'] = df_sub['venue'].replace(ground_map)

df_sub.to_csv('/Users/roumyadas/Desktop/Data/t20_cricket_data/Data/created_data/t20_pl_g.csv', index=None)

df_sub[df_sub.striker.str.contains('Sanvir Singh')]

In [17]:
df_sub.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed', 'year', 'legality', 'bowler_wicket',
       'islegal', 'isDotforBatter', 'isOne', 'isTwo', 'isThree',
       'isStrikeRotation', 'isFour', 'isSix', 'isBowlerWicket',
       'is_striker_Out', 'is_nonstriker_Out', 'isWicket', 'total_runs',
       'runs_scored', 'wickets_down', 'legal_balls_bowled', 'lbb_fl',
       'run_rate', 'target', 'legal_balls_remaining', 'runs_remaining',
       'reqd_run_rate', 'last_fow_run_rate', 'last_fow', 'partnership_runs',
       'striker_runs', 'non_striker_runs', 'isno', 'is_faced_by_batter',
       'striker_balls', 'non_striker_balls', 'fours', 'sixes',
       'striker_batting_position', 'non_striker_batting_position'],
      dtype='object')

In [18]:
df_g = pd.read_csv('/Users/roumyadas/Desktop/IPL_Simulation/Season_03/Stats/df_combined_SPL.csv')

df_g.columns

/Users/roumyadas/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (20,21,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'wicket_type', 'player_dismissed', 'legal_balls_bowled', 'wicket_event',
       'fielder', 'legality', 'bowler_wicket', 'islegal', 'isDotforBatter',
       'isOne', 'isTwo', 'isThree', 'isStrikeRotation', 'isFour', 'isSix',
       'isBowlerWicket', 'is_striker_Out', 'is_nonstriker_Out', 'isWicket',
       'total_runs', 'runs_scored', 'wickets_down', 'run_rate', 'last_fow',
       'partnership_runs', 'isno', 'is_faced_by_batter', 'last_fow_run_rate',
       'fours', 'sixes', 'striker_batting_position',
       'non_striker_batting_position', 'runs_conceeded', 'isDotforbowler',
       'legal_balls_remaining', 'target', 'runs_remaining', 'reqd_run_rate',
       'pitch', 'toss', 'decision'],
      dtype='object')